= form_with(model: publisher, local: true, class: "form-horizontal") do |form|
  - if publisher.errors.any?
    #error_explanation
      %h2
        = pluralize(publisher.errors.count, "error")
        prohibited this publisher from being saved:
      %ul
        - publisher.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :Name, class: "control-label col-sm-2"
    .col-sm-10
      = form.text_field :Name, class: "form-control"
  .form-group
    = form.label :address, class: "control-label col-sm-2"
    .col-sm-10
      = form.text_field :address, class: "form-control"
  .form-group
    = form.label :telephone, class: "control-label col-sm-2"
    .col-sm-10
      = form.text_field :telephone, class: "form-control"
  .actions
    %br
    = form.submit class: "btn btn-default col-sm-2 pull-right"
