= form_with(model: publisher, local: true) do |form|
  - if publisher.errors.any?
    #error_explanation
      %h2
        = pluralize(publisher.errors.count, "error")
        prohibited this publisher from being saved:
      %ul
        - publisher.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :address
    = form.text_field :address
  .field
    = form.label :telephone
    = form.text_field :telephone
  .actions
    = form.submit
