%p#notice= notice
%p
  %strong Name:
  = @publisher.Name
%p
  %strong Address:
  = @publisher.address
%p
  %strong Telephone:
  = @publisher.telephone

-if current_user.isManager
  = link_to 'Edit', edit_publisher_path(@publisher)
  |
= link_to 'Back', publishers_path
