!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OnlineBookstore
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    / Latest compiled and minified CSS

  %body
    %nav.navbar.navbar-default{:role => "navigation"}
      - if current_user
        .container-fluid
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => "#"} Online Bookstore
          / Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
              / %li.active
              /   %a{:href => "#"} Link
              %li{class: controller_name == "books"? "active":""}
                = link_to 'Books', books_path
              %li{class: controller_name == "publishers"? "active":""}
                = link_to 'Publishers', publishers_path
              %li{class: controller_name == "authors"? "active":""}
                = link_to 'Authors', authors_path
              - if current_user.isManager?
                %li{class: controller_name == "orders"? "active":""}
                  = link_to 'Orders', orders_path
                %li{class: controller_name == "users"? "active":""}
                  = link_to 'Users', users_path
                %li.dropdown{class: controller_name == "reports"? "active":""}
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    = fa_icon "line-chart"
                    Reports
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      = link_to "Sales", reports_sales_path
                    %li
                      = link_to "Top Customers", reports_top_customers_path
                    %li
                      = link_to "Best Selling", reports_best_selling_path
            %form.navbar-form.navbar-left{:role => "search"}
              = form_tag books_path, :method => 'get', :class => "form-group" do
                = text_field_tag :isbn, params[:isbn], placeholder: "ISBN", class: "form-control"
                = submit_tag  "Search" , :isbn => nil, class: "btn btn-default"
            %ul.nav.navbar-nav.navbar-right
              %li{class: controller_name == "purchases"? "active":""}
                = link_to purchases_path do
                  = fa_icon "gbp"
                  Purchases
              %li{class: controller_name == "cart"? "active":""}
                = link_to cart_show_path do #, cart_show_path 
                  = fa_icon "shopping-cart"
                  Cart
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = "#{current_user.first_name} #{current_user.last_name}"
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    = link_to 'Update Info', edit_user_path(current_user)
                  %li.divider
                  %li
                    = link_to 'Logout', logout_path, method: :delete
        /   .navbar-collapse
        / .container-fluid
    %br
    .container.well.bg-white
      - flash.each do |key, value|
        %div{:class => "alert alert-#{key}"}= value
      = yield

