!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OnlineBookstore
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = form_tag books_path, :method => 'get' do
      = text_field_tag :isbn, params[:isbn], placeholder: "ISBN"
      = submit_tag  "Search" , :isbn => nil
    %br
    = form_tag books_path, :method => 'get' do
      = text_field_tag :name, params[:name], placeholder: "Title"
      = text_field_tag :author, params[:author], placeholder: "Author"
      = text_field_tag :publisher, params[:publisher], placeholder: "Publisher"
      = select_tag :category, options_for_select(["Science", "Art", "Religion", "History", "Geography"]), include_blank: "Select Category"
      %br
      = number_field_tag :price_from, params[:price_from], placeholder: "Price Lower Range"
      = number_field_tag :price_to, params[:price_to], placeholder: "Price Upper Range"
      = number_field_tag :publish_date, params[:publish_date], placeholder: "Publish Year"
      = submit_tag  "Search", :name => nil


    = yield
