%p#notice= notice
%h1 Book Authors
%table
  %thead
    %tr
      %th Book isbn
      %th Author
      %th{:colspan => "3"}
  %tbody
    - @book_authors.each do |book_author|
      %tr
        %td= book_author.BOOK_ISBN
        %td= book_author.AUTHOR
        %td= link_to 'Show', book_author
        %td= link_to 'Edit', edit_book_author_path(book_author)
        %td= link_to 'Destroy', book_author, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Book Author', new_book_author_path
