%h1 Books added to the shopping cart:
-total_price = 0
%table
 %thead
  %tr
   %th ISBN
   %th Title
   %th Category
   %th Selling price
   %th Available copies count
   %th Publisher name
   %th Publish year
   %th{:colspan => "5"}
 %tbody
  -@result.zip(@book_quantity).each do |row, quantity|
   %tr{:style => (quantity.to_i > row[4] ? "background-color: red;" : "")}
    -row.each do |field|
     %td= field
    %td= link_to 'Remove', controller: "cart", action: "delete", params: {ISBN: row.first}
    %td
     = form_with url: cart_edit_path do |form|
      = form.hidden_field :ISBN, value: row.first
      = form.number_field :newquantity, value: quantity, min: 1, max: row[4], step: 1
      = form.submit 'Edit quantity'
    %td
     - total_price += quantity.to_i * row[3]
     = 'total individual price: ' + (quantity.to_i * row[3]).to_s + "L.E"
%br
%p= 'total number of books:' 
%p #{@result.count}

%p= 'Total price:' 
%p #{total_price}
= link_to_if(@result.count > 0, 'Check out', controller: "purchases", action: "checkout")
%br/
