= form_with(model: order, local: true) do |form|
  - if order.errors.any?
    #error_explanation
      %h2
        = pluralize(order.errors.count, "error")
        prohibited this order from being saved:
      %ul
        - order.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :date_submitted
    = form.date_select :date_submitted
  .field
    = form.label :estimated_arrival_date
    = form.date_select :estimated_arrival_date
  .field
    = form.label :confirmed
    = form.check_box :confirmed
  .field
    = form.label :BOOK_ISBN
    = form.text_field :BOOK_ISBN
  .field
    = form.label :quantity
    = form.number_field :quantity
  .actions
    = form.submit
