= form_with(model: order, local: true, class: 'form-horizontal') do |form|
  - if order.errors.any?
    #error_explanation
      %h2
        = pluralize(order.errors.count, "error")
        prohibited this order from being saved:
      %ul
        - order.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :estimated_arrival_date, class: "control-label col-sm-2"
    .col-sm-10
      = form.date_select :estimated_arrival_date, {}, {class: "form-control datepicker"}
  .form-group
    = form.label :BOOK_ISBN, class: "control-label col-sm-2"
    .col-sm-10
      = form.text_field :BOOK_ISBN, class: "form-control"
  .form-group
    = form.label :quantity, class: "control-label col-sm-2"
    .col-sm-10
      = form.number_field :quantity, class: "form-control", min: 1, step: 1, value: 1
  .actions
    %br
    = form.submit class: "btn btn-default col-sm-2 pull-right"
