%p#notice= notice
%h1 Users
= link_to 'New User', new_user_path, class: "btn btn-default pull-right"
%table.table.table-bordered.table-hover
  %thead
    %tr
      %th Email
      %th First name
      %th Last name
      %th Phone
      %th Address
      %th Is Manager
      %th Date joined
      %th{:colspan => "5"} Actions
  %tbody
    .text-center
      = will_paginate
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.first_name
        %td= user.last_name
        %td= user.phone
        %td= user.address
        %td= user.isManager
        %td= user.date_joined
        - if logged_in? && current_user.isManager
          %td= link_to 'Promote', users_promote_url(:id =>user.id)
        - if logged_in? && current_user.id == 1
          %td= link_to 'Demote', users_demote_url(:id =>user.id)

        %td= link_to 'Show', user
        - if logged_in? && current_user.isManager
          %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
%br/
.text-center
  = will_paginate

= link_to 'Register new user', new_user_path

