= form_with(model: book, local: true, class: "form-horizontal") do |form|
  - if book.errors.any?
    #error_explanation
      %h2
        = pluralize(book.errors.count, "error")
        prohibited this book from being saved:
      %ul
        - book.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :ISBN, class: "control-label col-sm-2"
    .col-sm-10
      = form.text_field :ISBN, class: "form-control"
  .form-group
    = form.label :title, class: "control-label col-sm-2"
    .col-sm-10
      = form.text_field :title, class: "form-control"
  .form-group
    = form.label :category, class: "control-label col-sm-2"
    .col-sm-10
      = form.text_field :category, class: "form-control"
  .form-group
    = form.label :selling_price, class: "control-label col-sm-2"
    .col-sm-10
      = form.text_field :selling_price, class: "form-control"
  .form-group
    = form.label :Minimum_threshold, class: "control-label col-sm-2"
    .col-sm-10
      = form.number_field :Minimum_threshold, class: "form-control"
  .form-group
    = form.label :Available_copies_count, class: "control-label col-sm-2"
    .col-sm-10
      = form.number_field :Available_copies_count, class: "form-control"
  .form-group
    = form.label :PUBLISHER_Name, class: "control-label col-sm-2"
    .col-sm-10
      = form.collection_select :PUBLISHER_Name, @publishers,:Name,:Name, {include_blank: false}, {class: "form-control"}
  .form-group
    = form.label :publish_year, class: "control-label col-sm-2"
    .col-sm-10
      = form.date_select :publish_year, {}, {class: "form-control datepicker"}

  .container-fluid
    %h4 Authors
    #book-authors
      = form.fields_for :book_authors do |book_author|
        = render 'book_author_fields', form: book_author
      .links.control-label
        = link_to_add_association 'add author', form, :book_authors, form_name: :form, class: "btn btn-default pull-right"
  .actions
    %br
    = form.submit class: "btn btn-default col-sm-2 pull-right"
