= form_with(model: book, local: true) do |form|
  - if book.errors.any?
    #error_explanation
      %h2
        = pluralize(book.errors.count, "error")
        prohibited this book from being saved:
      %ul
        - book.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :ISBN
    = form.text_field :ISBN
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :category
    = form.text_field :category
  .field
    = form.label :selling_price
    = form.text_field :selling_price
  .field
    = form.label :Minimum_threshold
    = form.number_field :Minimum_threshold
  .field
    = form.label :Available_copies_count
    = form.number_field :Available_copies_count
  .field
    = form.label :PUBLISHER_Name
    = form.collection_select :PUBLISHER_Name, @publishers,:Name,:Name, include_blank: false
  .field
    = form.label :publish_year
    = form.date_select :publish_year

  .field
    %h3 Authors
    #book-authors
      = form.fields_for :book_authors do |book_author|
        = render 'book_author_fields', form: book_author
      .links
        = link_to_add_association 'add author', form, :book_authors, form_name: :form
  .actions
    = form.submit
