<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category %>
</p>

<p>
  <strong>Selling price:</strong>
  <%= @book.selling_price %>
</p>

<p>
  <strong>Minimum threshold:</strong>
  <%= @book.Minimum_threshold %>
</p>

<p>
  <strong>Available copies count:</strong>
  <%= @book.Available_copies_count %>
</p>

<p>
  <strong>Publisher name:</strong>
  <%= @book.PUBLISHER_Name %>
</p>

<p>
  <strong>Publish year:</strong>
  <%= @book.publish_year %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
