%p#notice= notice
%p
  %strong ISBN:
  = @book.ISBN
%p
  %strong Title:
  = @book.title
%p
  %strong Category:
  = @book.category
%p
  %strong Selling price:
  = @book.selling_price 
%p
  %strong Available copies count:
  = @book.Available_copies_count
%p
  %strong Publisher name:
  = @book.PUBLISHER_Name
%p
  %strong Publish year:
  = @book.publish_year
= link_to 'Edit', edit_book_path(@book)
|
= link_to 'Back', books_path
%label{for: "quantity"} Quantity
%input{id: "number", max: "#{@book.Available_copies_count}", min: "1", value: "1", name: "quantity", type: "number"}/
= button_to "Add to shopping cart", cart_add_to_cart_path, params: { ISBN: @book.ISBN }
%br/
