%p#notice= notice
%p
  %strong ISBN:
  = @book.ISBN
%p
  %strong Title:
  = @book.title
%p
  %strong Category:
  = @book.category
%p
  %strong Selling price:
  = @book.selling_price 
%p
  %strong Available copies count:
  = @book.Available_copies_count
%p
  %strong Publisher name:
  = @book.PUBLISHER_Name
%p
  %strong Publish year:
  = @book.publish_year
= link_to 'Edit', edit_book_path(@book)
|
= link_to 'Back', books_path

= form_with url: cart_add_to_cart_path do |form|
  = form.hidden_field :ISBN, value: @book.ISBN
  = form.label :quantity
  = form.number_field :quantity, value: 1, min: 1, max: @book.Available_copies_count, step: 1
  = form.submit 'Add to shopping cart'
  
%br/
