= form_with(model: purchase, local: true) do |form|
  - if purchase.errors.any?
    #error_explanation
      %h2
        = pluralize(purchase.errors.count, "error")
        prohibited this purchase from being saved:
      %ul
        - purchase.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :User_id
    = form.text_field :User_id
  .field
    = form.label :BOOK_ISBN
    = form.text_field :BOOK_ISBN
  .field
    = form.label :No_of_copies
    = form.number_field :No_of_copies
  .field
    = form.label :price
    = form.text_field :price
  .field
    = form.label :date_of_purchase
    = form.date_select :date_of_purchase
  .actions
    = form.submit
