%p#notice= notice
%h1 Purchases
%table.table.table-bordered.table-hover
  %thead
    %tr
      %th User
      %th Book isbn
      %th No of copies
      %th Price
      %th Date of purchase
      %th
  %tbody
    .text-center
      = will_paginate
    - @purchases.each do |purchase|
      %tr
        %td= purchase.User
        %td= purchase.BOOK_ISBN
        %td= purchase.No_of_copies
        %td= purchase.price
        %td= purchase.date_of_purchase
        %td= link_to 'Show', purchase
%br/
.text-center
  = will_paginate

