<p id="notice"><%= notice %></p>

<h1>Purchases</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Book isbn</th>
      <th>No of copies</th>
      <th>Price</th>
      <th>Date of purchase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.User %></td>
        <td><%= purchase.BOOK_ISBN %></td>
        <td><%= purchase.No_of_copies %></td>
        <td><%= purchase.price %></td>
        <td><%= purchase.date_of_purchase %></td>
        <td><%= link_to 'Show', purchase %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
